<p id="notice"><%= notice %></p>
<div class="row">
  <div class="page-header">
    <h2><%=if @gist[:owner].nil?
             "Anonymous"
           else
             @gist[:owner][:login]
           end%> /
      <%@gist[:files].each { |k,v| %>
          <%=v[:filename]%>
      <%}%></h2>
  </div>
</div>
<div id="desc" class="row">
  <%= @gist[:description]%>
</div>
<div class="row">
  <code data-gist-id="<%=@gist[:id]%>"></code>
</div>
