<p id="notice"><%= notice %></p>

<div class="page-header"><h1>
  <strong>Title:</strong>
  <%= @category.title %>
  <%= link_to edit_category_path(@category) do%>
      <button class="btn btn-primary">Edit</button>
  <%end%>

  <%= link_to categories_path  do%>
      <button class="btn btn-default">All</button>
  <%end%>
</h1>

</div>

<strong>Description:</strong>
<%= @category.description %>
<div class="row">
  <div class="page-header"><h2>
    GISTS:
  </h2>
  </div>

  <%@my_gists.each { |g| %>
      <%=render partial: 'gists/gist_header', locals: {gist: g}%>
      <div id="desc" class="row">
        <%= g[:description]%>
      </div>
      <div class="row">
        <code data-gist-id="<%=g[:id]%>"></code>
      </div>
  <%}%>
</div>

